source https://api.nuget.org/v3/index.json

storage: none
framework: net7.0

nuget Microsoft.Extensions.Hosting
nuget Microsoft.Extensions.Configuration
nuget Microsoft.Extensions.Logging
nuget OpenTelemetry.Exporter.Console
nuget OpenTelemetry.Extensions
nuget OpenTelemetry.Extensions.Hosting
nuget OpenTelemetry.Instrumentation.AspNetCore
nuget OpenTelemetry.Exporter.OpenTelemetryProtocol.Logs
nuget OpenTelemetry.Exporter.OpenTelemetryProtocol

nuget AutoFixture
nuget Shouldly
nuget xunit
nuget xunit.runner.visualstudio
nuget Moq
nuget coverlet.collector
nuget Testcontainers
nuget Microsoft.NET.Test.Sdk
nuget Ogooreck